/* color scheme
black           : #000000
blackcurrent    : #291528
gordonsgreen    : #3a3e3b
Solitude        : #foeff4
MountbattenPink : #9e829b */

/* preloader */

#preloader{
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

#status{
    background-image: url('../img/preloader/Double\ Ring-1s-100px.gif');
    background-repeat: no-repeat;
   width: 100px;
   height: 100px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -50px;
   margin-top: -50px;
}
/* sample syyle */
#z1{
    font-family: 'Lobster',sans-serif;
    color: blueviolet;
    
}