/* color scheme
black           : #000000
blackcurrent    : #291528
gordonsgreen    : #3a3e3b
Solitude        : #foeff4
MountbattenPink : #9e829b */

#z1{
    font-family: 'Lobster',sans-serif;
    color: blueviolet;
    
}